<!DOCTYPE html>
<html>
<head>
	<title>{% block title %}Accueil{% endblock %}</title>
</head>
<body>
	<nav>
		<a href="{{ path('homepage')}}">Accueil</a>
		<ul>
			{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
		    	<p>Connecté en tant que {{ app.user.username }}</p>
		   		<li><a href="{{ path('fos_user_security_logout') }}">Déconnexion</a></li>
			{% else %}
	    		<li><a href="{{ path('fos_user_security_login') }}">Connexion</a></li>
				<li><a href="{{ path('fos_user_registration_register')}}">Inscription</a></li>
			{% endif %}
		</ul>
		{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
		<ul>
			<li><a href="{{ path('info') }}">Informations sur le Marsupilami</a></li>
			<li><a href="{{ path('info_edit') }}">Modifier ses informations</a></li>
		</ul>

		<ul>
			<li><a href="{{ path('friends') }}">Voir sa liste d'ami</a></li>
		</ul>
		{% endif %}
	</nav>

	{% block section %}

	{% endblock %}
</body>
</html>